<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead"> Seus contatos estão abaixo, clique em um contato para ver os detalhes.
            </p>
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger"> um erro</div>
                </div>
            </div>
        </div>

        <div class="responsive-table">
            <table class="table my-3">
                <tr>
                    <td>Marllon</td>
                    <td>Anisio</td>
                    <td>465293465</td>
                    <td>marllon@gmail.com</td>
                    <td>marllon-anisio</td>
                </tr>
                <tr>
                    <td>Jurandir</td>
                    <td>Plinio</td>
                    <td>465293465</td>
                    <td>marllon@gmail.com</td>
                    <td>marllon-anisio</td>
                </tr>
                <tr>
                    <td>Narlion</td>
                    <td>Francis</td>
                    <td>465293465</td>
                    <td>marllon@gmail.com</td>
                    <td>marllon-anisio</td>
                </tr>
                <tr>
                    <td>Augusto</td>
                    <td>Baltazar</td>
                    <td>465293465</td>
                    <td>marllon@gmail.com</td>
                    <td>marllon-anisio</td>
                </tr>
            </table>
        </div>

    </div>

</div>

<%- include('includes/footer.ejs') %>
